<div class="col-md-6">
  <%= f.text_field :name, placeholder: 'Name', class: "form-control" %>
</div>
<div class="col-md-4">
  <%= f.text_field :title, placeholder: 'Title', class: "form-control" %>
</div>
<%= f.link_to_remove "Remove", class: 'col-sm-2' %>