<div class="card">
  <div class="card-front">
    <div class="front">
      <div class="front-hero front-hero--event">
        <div class="brand">
          <div class="brand-location">
            <div class="location">
            <span class="location-suite">
              <%= t('building.welcome') %>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="front-body">
        <div class="instructions">
          <div class="instructions-brand">
            <%= t('building.name') %>
          </div>
          <div class="instructions-text">
            <%= t('building.description') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>