$orangey-red: #ff4338;
$white: #ffffff;
$greyish-brown: #4a4a4a;
$dark-aquamarine: #01786e;
$pumpkin: #e28c05;
$warm-grey: #9b9b9b;
$light-grey: #bababa;
$transparent-black: rgba(0, 0, 0, 0.8);
$transparent: rgba(0, 0, 0, 0);
$drop-shadow-black: rgba(0, 0, 0, 0.25);

$knoll-red: $orangey-red;
$pivotal-teal: $dark-aquamarine;
$galvanize-orange: $pumpkin;
$nichols-grey: $light-grey;
