@import 'colors';

.brand {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}

.brand-logo {
  flex: 0 0 auto;
  margin-top: auto;
}

.brand-location {
  flex: 0 0 auto;
  margin-bottom: 42px;
  margin-top: auto;
}