@import 'colors';

.card {
  cursor: pointer;
  margin: 0 20px;
  border-radius: 6px;
  flex: 0 0 auto;
  min-width: 430px;
  max-width: 430px;
  text-align: center;
  box-shadow: 0 4px 10px $drop-shadow-black;
}