@import 'colors';

.front {

}

.front-hero {
  color: $white;
  height: 400px;
  border-radius: 6px 6px 0 0;
}

.front-hero--knoll {
  background-color: $knoll-red;
}

.front-hero--pivotal {
  background-color: $pivotal-teal;
}

.front-hero--galvanize {
  background-color: $galvanize-orange;
}

.front-hero--nichols_partnership {
  background-color: $nichols-grey;
  padding: 0px 25px;
}

.front-hero--event {
  background-image: linear-gradient(to bottom, $transparent, $transparent-black), image-url('building.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.front-body {
  background-color: $white;
  color: $greyish-brown;
  height: 600px;
  border-radius: 0 0 6px 6px;
}