@import 'colors';
@import 'fonts';

.futureEvent {
  @include roboto-light;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  flex-flow: row nowrap;
}

.futureEvent-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.futureEvent-space {
  border-bottom: 2px dotted white;
  flex: 1 1 auto;
  height: 25px;
  margin-left: 2px;
  margin-right: 2px;
}

.futureEvent-time {
  flex: 0 0 auto;
}