@import 'colors';
@import 'fonts';

.location {
}

.location-floor {
  @include roboto-medium;
  font-size: 36px;
  margin-right: 28px;
}

.location-suite {
  @include roboto-thin;
  font-size: 36px;
}